{% load static %}

<header>
  <nav class="navbar">
      <div class="logo">
          <a href="index.html">
              <img src="{% static "images/logo.png" %}" alt="Vulnerability Scanner">
          </a>
      </div>
      <label for="input-hamburger" class="hamburger "></label>
      <input type="checkbox" id="input-hamburger" hidden>
      <div class="menu">
          <ul>
              <!-- <li><a class="active" href="index.html">Home</a></li> -->
              <li><a href="">About us</a></li>
              <li><a href="benefits.html">Our Benefits</a></li>
              <li><a href="#">Our Partners</a></li>
              <li><a href="#">Contact Us</a></li>
          </ul>
          <div class="link-btn">
              <a href="#">Get a Quote</a>
              <i class="fa-solid fa-arrow-right-long"></i>
          </div>
      </div>
  </nav>
</header>




